form{
    height: 400px;
    width: 350px;
    padding: 40px;
    margin-top: 10px;
    border: solid 4px purple;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo{
    display: block;
    justify-items: center;
}